 .markdown-body{
    background-color: lighten($markdown-backgroundBase,20%);
    padding: 5rem 1.2rem;
  }

  .drum-machine-body{
    background-color: lighten($markdown-backgroundBase,10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }