@import url("https://fonts.googleapis.com/css?family=Russo+One");
html {
  font-size: 62.5%;
  /*16px * 62.5% = 10px = 1rem : compatible with any browser*/
  /*prend en consideration les border et les padding de l'element*/ }

*,
::after,
::before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.markdown__body {
  background-color: #a0c5c5;
  padding: 5rem 1.2rem; }

.markdown__toolbar {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #326e6e;
  padding: 0.3rem;
  font-family: Russo One;
  font-size: 1rem;
  color: whitesmoke;
  border-top: 1px #224b4b solid;
  border-left: 1px #224b4b solid;
  border-right: 1px #224b4b solid; }
  .markdown__toolbar div {
    display: flex; }
    .markdown__toolbar div i {
      font-size: 2rem;
      width: 25px;
      margin-left: 5px; }
    .markdown__toolbar div h3 {
      margin: 0 0; }
  .markdown__toolbar [class^='option-'] {
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    margin: 0 1rem; }
  .markdown__toolbar--hide-theme-Buttom {
    display: none; }

.markdown__editor {
  max-width: 80rem;
  height: 40vh;
  margin: 0 auto;
  box-shadow: 5px 15px 25px 3px #3a5f5f; }
  .markdown__editor textarea {
    border: 1px #224b4b solid;
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 1.6rem; }
  .markdown__editor--theme-dark {
    background-color: #183d3d;
    color: #fff; }
  .markdown__editor--theme-light {
    background-color: #8ccfcf;
    color: #0e180e; }
  .markdown__editor--hide {
    display: none; }
  .markdown__editor--show {
    display: ''; }
  .markdown__editor--maximize {
    max-width: 95%;
    height: auto; }

.markdown__previewer {
  max-width: 80rem;
  box-shadow: 5px 15px 25px 3px #3a5f5f;
  margin: 5rem auto;
  border: 1px #224b4b solid;
  background-color: #c0d8d8;
  color: #000;
  margin-bottom: 5rem; }
  .markdown__previewer #preview {
    padding: 2.5rem; }
    .markdown__previewer #preview * {
      font-size: 1.6rem;
      margin-bottom: 1rem; }
    .markdown__previewer #preview blockquote {
      border-left: 3px solid #224b4b;
      color: #224b4b;
      padding-left: 5px;
      margin-left: 25px; }
    .markdown__previewer #preview > p > code {
      padding: 0.8rem; }
    .markdown__previewer #preview code {
      font-size: 1.2srem;
      font-weight: bold; }
    .markdown__previewer #preview pre {
      display: block;
      overflow: auto;
      background: #1b1a1a;
      padding: 5px;
      line-height: 1.2; }
    .markdown__previewer #preview h1 {
      border-bottom: 2px solid #224b4b;
      margin-bottom: 1.8rem; }
    .markdown__previewer #preview h2 {
      border-bottom: 1px solid #224b4b;
      margin-bottom: 1.6rem; }
    .markdown__previewer #preview table {
      border-collapse: collapse; }
    .markdown__previewer #preview td,
    .markdown__previewer #preview th {
      border: 2px solid #224b4b;
      padding-left: 5px;
      padding-right: 5px; }
    .markdown__previewer #preview img {
      display: block;
      max-width: 90%;
      margin: 2rem auto; }
  .markdown__previewer--hide {
    display: none; }
  .markdown__previewer--show {
    display: ''; }
  .markdown__previewer--maximize {
    max-width: 95%;
    height: auto; }
